/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }

  /* Dark mode colors */
  --dark-background: 26, 32, 44; /* Example: rgb(26, 32, 44) */
  --dark-foreground: 255, 255, 255; /* Example: rgb(255, 255, 255) */
  /* Define other dark mode colors as needed */

  /* Light mode colors */
  --light-background: 255, 255, 255; /* Example: rgb(255, 255, 255) */
  --light-foreground: 26, 32, 44; /* Example: rgb(26, 32, 44) */
  /* Define other light mode colors as needed */
}

@layer base {
  * {
    @apply border-border;
  }
 
  .dark-mode {
    /* Apply styles for dark mode */
    @apply bg-gray-900 text-white;
  }

  .light-mode {
    /* Apply styles for light mode */
    @apply bg-gray-200 text-gray-900;
  }
}
.hover-trigger:hover + .hover-text {
  opacity: 1;
}

.hover\:gradient-text:hover {
  background-image: linear-gradient(
    to right,
    rgba(203, 64, 244, 0.6),
    rgba(180, 62, 232, 0.6),
    rgba(160, 58, 218, 0.6)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
